@charset "utf-8";
body {
    background-color: #FFC0CB;
}
body h2 {
    color: #800000;
}
img {
    width: 100%;
    height: 100%;
}



 .shop{
  background-color: #ffc0cb;
  width: 100%;
 }

 .cakes{
 background-color: #ffc0cb;
 float:left;
 width:50%;
 height: 50%
 }

 .wrap{
 background-color: #ffc0cb;
 display:flex;
 flex-wrap:wrap;
 }
.logo img {
    width: 25%;
}
